@model string

@{
    Layout = "_Layout";
}


<div class="card bg-primary text-white">
    <h1 class="card-header">Hello @Model</h1>
    <div class="card-body">
        <p class="card-text">Welcome to my app mvc!</p>
    </div>
</div>

@this.Path